.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: auto;
    margin-bottom: 100px;
}

.new-collections > img{
    width: 300px; /* Fixed width for the images */
    height: 300px; /* Fixed height for the images */
    box-sizing: border-box; /* Include padding and border in the element size */
    border: 10px solid white;
}

.new-collections h1 {
    color: #141717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #014252;
    border: none;
}

.collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-adjust columns based on available space */
    gap: 30px;
    width: 100%; /* Ensure it takes up the full width of the container */
    max-width: 1200px; /* Limit the container width */
    margin-top: 50px;
    box-sizing: border-box; /* Include padding and borders in the width */
}

.collections .item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 100%; /* Ensure items scale down on smaller screens */
}
