/* // DON'T TOUCH THIS FILE */

.productisplay{
    display: flex;
    margin: 0px 170px;

}

.productisplay-left{
    display: flex;
    gap: 18px;
}

.productisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productisplay-img-list > img{
    height: 292px;
    width: 200px;
}

.productisplay-main-img{
    width: 500px;
    height: 600px;
}

.productisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;

}
 
.productisplay-right h1{
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 499;

}

.productisplay button{
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: red;
    border: none;
    outline: auto;
    cursor: pointer;
    border-radius: 10px;
}
.productisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 15px;
    color: #1c1c1c;
    font-size: 16px;

}

.productisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 15px;
    font-size: 50px;
    font-weight: 700;
}

.productisplay-right-prices-new{
    color: red;
}

.productisplay-right-prices-old{
    color: #818181;
    text-decoration: line-through;
}

.productisplay-right-size{
    margin-top: 50px;
    color: #656565;
    font-size: 30px;
    font-weight: 400;
}

.productisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 4px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productisplay-right-category{
    margin-top: 10px;
}

.productisplay-right-category span{
    font-weight: 600;
    font-size: 18px;
}