.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
    padding: 20px 0px;
    color: #454545;
    font-size: 20px;
    font-weight: 700;
}


.cartitems-format {
    font-size: 20px;
    font-weight: 700;
}

.carticon-product-icon{
    height: 70px;
}

.carticon-remove-icon{
    width:15px ;
    margin: 0px 15px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 50px;
    height: 50px;
    background: #fff;
    border: 5px solid #5e5757;
    font-size: 20px;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
    font-size: 20px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;

}

.cartitems-total button{
    width:262px ;
    height: 50px;
    outline: none;
    border: none;
    background:#ff5a5a ;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.cartitems-promocode{
    flex: 1;
    font-size: 20px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}


.cartitems-promobox{
    width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: 70px;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    width: 300px;
    height: 50px;
}

.cartitems-promobox button{
    background: black;
    cursor: pointer;
    width: 170px;
    height: 50px;
    font-size: 18px;
    width: 300px;
    height: 50px;
    font-weight: 600;
}
