.descriptionbox{
    margin: 120px 170px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    width: 170px;
    height: 70px;
    border: 2px solid #d0d0d0 ;
}

.descriptionbox-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column ;
    gap: 20PX;
    padding: 14PX;
    padding-bottom: 20px ;
    border: 1px solid #D0D0D0;
}