.offers {
    width: 65%;
    height: 80vh;
    display: flex;
    margin: auto;
    padding: 0px 14px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea 60%);
    box-sizing: border-box; /* Ensure padding doesn't affect the overall width */
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.offers-left p {
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}

.offers-left button {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    cursor: pointer;
    justify-content: flex-end;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px; /* Added padding for better spacing */
}

.offers-right img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    max-height: 100%; /* Prevents the image from exceeding its container */
}
