.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}   


.addproduct-itemfield{
    width: 100%;
    color: Ml#7b7b7b;
    font-size: 16px;
}



.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 58px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid ;
    outline: none;
    color: #7b7b7b;
    font-size: 14px;
}

.addproduct-price{
    display: flex;
    gap: 40px;
}

.add-product-selector{
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}