.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav-logo p{
    color: #282c34;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 38 px;
    gap: 50px;
}

.nav-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.nav-menu h {
    border: none;
    width: 80%;
    height: 3px;
    background-color: red;
    border-radius: 10px;
    margin: 0 auto; /* This centers the line inside the <li> */

}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 150px;
    height: 60px;
    outline: none;
    border: 1px solid black;
    border-radius: 50px;
    color: brown;
    font-size: 20px;
    font-weight: 300;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: green;
}

.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -50px;
    border-radius: 11px;
    font-size: 19px;
    color: red;
    background: white;
}


@media (max-width: 1280px) {
    .navbar {
      padding: 12px 50px;
    }
  
    .nav-logo img {
      width: 40px;
    }
  
    .nav-logo p {
      font-size: 25px;
    }
  
    .nav-menu {
      gap: 30px;
      font-size: 16px;
    }
  
    .nav-login-cart {
      gap: 36px;
    }

    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
  }
  
.nav-dropdown{
    display: none;
}

  @media (max-width: 1024px) {
    .navbar {
      padding: 12px 30px;
    }
  
    .nav-menu {
      gap: 25px;
      font-size: 14px;
    }
  
    .nav-login-cart button {
      width: 80px;
      height: 35px;
      font-size: 14px;
    }
  
    .nav-login-cart img {
      width: 30px;
    }
  
    .nav-cart-count {
      width: 18px;
      height: 18px;
    }
  }
  
  @media (max-width: 800px) {
    .navbar {
      padding: 10px 10px;
    }
  
    .nav-dropdown {
      display: block;
      width: 30px;
      transform: rotate(-90deg);
      transition: 0.5s;
    }
  
    .nav-menu {
      display: flex;
      height: 80px;
      width: 100%;
      position: absolute;
      background-color: white;
      justify-content: center;
      top: 50px ;
    }

    .nav-menu-visible{
        display: flex;

    }

    .nav-dropdown.open{
        transform: rotate(90deg);
    }
  }
  

  @media (max-width: 500px) {
    .navbar {
      width: 8px  0px;
      gap: 0;
    }
  
    .nav-logo {
      transform: scale(0.8);
    }
  
    .nav-menu {
      height: 70px;
      top: 56px;
    }
  
    .nav-login-cart {
      transform: scale(1);
    }
  }
  
