.item {
    width: 35px;
  }
  
.item p {
    margin: 6px;
  }
  
.item-prices {
    display: flex;
    gap: 2px;
  }
  
.item-price-new {
    color: #014374;
    font-size: 18px;
    font-weight: 600;
  }
  
.item-price-old {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;

  }

.item:hover{
    transform: scale(1.05);

}