.navbar{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px -2px #000;
    padding: 15px 60px;
    background: rgb(247, 215, 215);
}

.nav-logo{
    width: 200px;
}

.nav-profile{
    width: 75px;
}