.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav-logo p{
    color: #282c34;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 38 px;
    gap: 50px;
}

.nav-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.nav-menu h {
    border: none;
    width: 80%;
    height: 3px;
    background-color: red;
    border-radius: 10px;
    margin: 0 auto; /* This centers the line inside the <li> */

}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 150px;
    height: 60px;
    outline: none;
    border: 1px solid black;
    border-radius: 50px;
    color: brown;
    font-size: 20px;
    font-weight: 300;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: green;
}

.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -50px;
    border-radius: 11px;
    font-size: 19px;
    color: red;
    background: white;
}

