.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: auto;
    margin-bottom: 100px;
    
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px ;
    background: #252525;

}

.popular > img{
    width: 300px; /* Fixed width for the images */
    height: 300px; /* Fixed height for the images */
    box-sizing: border-box; /* Include padding and border in the element size */
    border: 10px solid white;
}

.popular h1 {
    color: #141717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #014252;
    border: none;
}


.popular-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 100%; 
    margin-top: 50px;
    display: flex;
    justify-content: flex-start; 
    gap: 30px; 
    flex-wrap: wrap; 

}

