.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto; 
    padding: 20px;
}

.popular h1 {
    color: #141717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #014252;
    border: none;
}

.popular-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure items are spaced evenly */
    gap: 30px;
    width: 100%; /* Take up the full width of the parent */
    max-width: 1200px; /* Limit the maximum width of the container */
    margin-top: 50px;
}



/* 
.popular-item .item > * {
    width: 300px; 
    height: 300px; 
    box-sizing: border-box;
} */
